<h1>Person Data</h1>

<p>This component demonstrates fetching Person data from the server.</p>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/register-person']">Create New</a>
</p>

<table class='table' *ngIf="personList">
  <thead>
    <tr>
      <th>PersonId</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personList">
      <td>{{ person.personId }}</td>
      <td>{{ person.firstname }}</td>
      <td>{{ person.lastname }}</td>
      <td>{{ person.address }}</td>
      <td>{{ person.age }}</td>
      <td>
      <td>
        <a [routerLink]="['/person/edit/', person.personId]">Edit</a> |
        <a [routerLink]="" (click)="delete(person.personId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>  
