<h1>{{title}}</h1>
<h3>Person</h3>
<hr />

<form [formGroup]="personForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">First Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="firstname">
    </div>
    <span class="text-danger" *ngIf="firstname.invalid && formDir.submitted">
      First Name is required.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Last Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="lastname">
    </div>
    <span class="text-danger" *ngIf="lastname.invalid && formDir.submitted">
      Last Name is required.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Address</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="address">
    </div>
    <span class="text-danger" *ngIf="address.invalid && formDir.submitted">
      Address is required.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Age</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="age">
    </div>
    <span class="text-danger" *ngIf="age.invalid && formDir.submitted">
      Age is required.
    </span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
